@charset "UTF-8";

body {
    font-family: 'Helvetica Neue', Helvetica;
    color: #333;
    font-size: 14px;
    margin: 0;
    background-color: #FFF;
}

hr {
    border: none;
    height: 1px;
    background-color: #EEE;
}

img {
    max-width: 100%;
}

/* ========== Links ========== */

a {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    text-decoration: none;
    color: #3AD;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color: #CCC;
}

/* ========== Headers ========== */

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

/* ========== POST ========== */

article {

}

time {
   color: #CCC;
   padding: 20px 0px;
}

.wrap {
    padding: 0px 50px;
}

.head {
    color: #CCC;
    border-radius: 3px;
    background-color: #F8F8F8;
    padding: 10px;
    margin: 20px 0px 10px 0px;
}

/* ========== FOOT ========== */

.foot {
    padding: 25px 50px;
}

.foot a {
    color: #333;
    font-size: 25px;
    padding-right: 20px;
}

.foot a:hover {
    color: #CCC;
}
