{{ define "scripts" }}
<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/rainbow.js"></script>
<script type="text/javascript" src="/assets/js/color.js"></script>
<script type="text/javascript" src="/assets/js/language/css.js"></script>
<script type="text/javascript" src="/assets/js/language/generic.js"></script>
<script type="text/javascript" src="/assets/js/language/go.js"></script>
<script type="text/javascript" src="/assets/js/language/html.js"></script>
<script type="text/javascript" src="/assets/js/language/javascript.js"></script>
<script type="text/javascript" src="/assets/js/language/shell.js"></script>
{{ end }}
